.App {
  text-align: center;
  height: 100%;
  min-height: 700px;
  min-width: 1000px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  min-height: 136;
  background-color: #222;
  padding: 1%;
  color: #76747D;
  height: 15%;
}

.Main-body {
  min-height: 560px;
  height: 83%;
  font-size: large;
  background-color: #B5F0F6;
  color: #76747D;
}

.App-intro {
  margin: 0px;
}

html, body, #root {
    margin: 0px;
    height: 100%;
}

.Provider-creator {
  height: 450px;
  margin: 0px;
  float: left;
  width: 27.5%;
  padding: 6% 2.5% 4% 5%;
}

.Provider-list {
  height: 450px;
  margin: 0px;
  float: right;
  width: 57.5%;
  padding: 6% 5% 4% 2.5%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
