.List-left {
  float: left;
  width: 41%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0px;
  grid-template-areas:
    "a"
    "b";
}

.List-right {
  float: right;
  width: 41%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0px;
  grid-template-areas:
    "a"
    "b";
}

.Checkbox-box {
  position: relative;
  float: left;
  width: 8%;
  height: 100%;
}

.Checkbox {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  height: 100px;
  margin-top: -50px;

}

.Provider-item {
  height: 100%;

}

.List-name, .List-email {
  margin: 10px 10px;
  text-align: left;
  font-size: .75em;
  max-height: 5px;
}

.List-specialty, .List-practice {
  margin: 10px 15px;
  text-align: right;
  font-size: .75em;
  max-height: 5px;
}

.List-name {
  grid-area: a;
}
.List-email {
  grid-area: b;
}
.List-specialty {
  grid-area: a;
}
.List-practice {
  grid-area: b;
}
